body {
    font-family: "Roboto", "Raleway" sans-serif; 
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    }

.name-web {
    color: var(--iris, #4D5AE5);
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.studio {
    color: var(--navyblue, #2E2F42);
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.studio-footer {
    color: var(--cloud, #F4F4FD);
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.contacts-item {
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.contacts-item {
    color: var(--slate, #434455);
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.02em;
}
.main-content-one {
    color:  var(--white, #FFF);
    text-align: center;
    font-size: 56px;

    line-height: 1.07;
    letter-spacing: 0.02em;
}
.main-content {
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}
.main-buttom {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.buttom-text {
    color: var(--white, #FFF);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.main-content-tittle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.main-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate, #434455);
    width: 264px;
}

.main-content-tittle2 {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--navyblue, #2E2F42);
    text-align: center;
}

.names-tittle {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--navyblue, #2E2F42);
    text-align: center;
}

.names-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate, #434455);
    text-align: center;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--cloud, #F4F4FD);
    width: 264px;
}

.footer-main {
    width: 1440px;
    height: 312px;
    flex-shrink: 0;
    background: var(--navyblue, #2E2F42);
}